.cards-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 46px;
    margin-bottom: 50px;
}

.cards-list-birds {
    margin-bottom: 100px;
}

.card {
    width: 315px;
    background-color: #F9F9F9;
    border: 1px solid #F2F2F2;
    box-shadow: -8px -8px 15px #FFFFFF, 8px 8px 15px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 20px 20px 30px 20px;
    position: relative;
}

.card-new-label {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: #fff;
    background-color: #333333;
    border-radius: 10px;
    padding: 9px 16px;
}

.card-sale {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    padding: 9px 16px;
    border: 1px solid #3FCF5E;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.05);
}

.card-image-wrapper {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 25px;
}

.not-for-sale {
    opacity: 0.2;
}

.card-image {
    display: block;
    width: 100%;
}

.card-title {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 31px;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
}

.card-title-small {
    text-transform: none;
}

.card-sub-title {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #828282;
}

.card-price {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 25px;
}

.card-packaging {
    display: flex;
    margin-bottom: 25px;
}

.card-package {
    width: 68px;
    height: 29px;
    background-color: transparent;
    border: 0;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #4F4F4F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-package-active {
    background-color: #fff;
    border: 1px solid #3ECF5E;
    border-radius: 5px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-link {
    padding: 12px 32px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #3ECF5E;
    border: 1px solid rgba(5, 175, 52, 0.53);
    border-radius: 10px;
    text-decoration: none;
}

.card-add-cart {
    width: 45px;
    height: 45px;
    background-color: #fff;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    background-image: url(../images/cart.png);
    background-size: 27px 27px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.card-packaging input {
    display: none;
}

.card-packaging input:checked + .card-package {
    background-color: #fff;
    border: 1px solid #3ECF5E;
    border-radius: 5px;
}

.card-pages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-page {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
    margin-right: 20px;
    position: relative;
}

.card-page-active {
    color: #219653;
}

.card-page:active {
    color: #219653;
}

.card-page:first-child::before {
    content: "";
    background-image: url(../images/arrow-left-black.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 60%;
    right: 30px;
    margin-top: -10px;
}

.card-page:last-child::after {
    content: "";
    background-image: url(../images/arrow-right-black.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 60%;
    left: 30px;
    margin-top: -10px;
}