.footer {
    background-color: #333;
    padding-top: 100px;
    padding-bottom: 130px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery-pay a {
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 47px;
}

.delivery-pay a:last-child {
    margin-right: 0;
}

.social-media-item {
    margin-right: 20px;
}

.social-media-item:last-child {
    margin-right: 0;
}

.tel-white {
    color: #fff;
    margin-right: 0;
}

.tel-white::before {
    background-image: url(../images/phone-white.png);
}