.header {
    background-color: #fff;
    padding-top: 33px;
    padding-bottom: 30px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.05), inset 0px -5px 15px rgba(255, 255, 255, 0.44);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.tel {
    font-size: 18px;
    line-height: 21px;
    color: #000;
    text-decoration: none;
    margin-right: 60px;
    position: relative;
    padding-left: 30px;
}

.tel::before {
    content: "";
    background-image: url(../images/phone-black.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
}

.header-info {
    display: flex;
    align-items: center;
}

.cart {
    margin-right: 15px;
    position: relative;
}

.account-info {
    display: flex;
    position: relative;
}

.account-link-dropdown:hover + .hide {
    display: block;
}

.account-sign-in {
    width: 284px;
    background-color: #fff;
    box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 25px 20px 35px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 67px;
    right: 0;
}

.account-sign-in-link {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    padding: 15px 0;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
    width: 244px;
    text-align: center;
    margin-bottom: 15px;
}

.account-sign-in-link:last-child {
    margin-bottom: 0;
}

.account-sign-in-link-active {
    background-color: #3FCF5E;
    border: 0;
    color: #fff;
}

.counter {
    position: absolute;
    top: -50%;
    right: -50%;
    background-color: #06D10E;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    transform: translate(-50%, 50%);
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    position: relative;
}

.link {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #4F4F4F;
    text-decoration: none;
    margin-right: 40px;
}

.link-dropdown {
    position: relative;
    padding-right: 19px;
}

/* .some-block {
    outline: 1px solid blue;
    padding-top: 30px;
    position: absolute;
    top: 11px;
    left: 0;
    z-index: 10;
    display: inline-block;
} */

.link-dropdown img {
    width: 100%;
    display: inline-block;
}

.link-dropdown:hover + .hide {
    display: block;
}

.nav-products {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 284px;
    background-color: #fff;
    box-shadow: 21px 15px 30px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 0px 52px 34px 25px;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 5;
}

.nav-products-item {
    margin-right: 0;
    margin-bottom: 30px;
}

.nav-products-item:first-child {
    padding-top: 21px;
}

.nav-products-item:last-child {
    margin-bottom: 0;
}

.link-dropdown::after {
    content: "";
    background-image: url(../images/arrow-down.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
}

.link-dropdown:hover::after {
    content: "";
    background-image: url(../images/arrow-dropdown-green.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
}

.link:last-child {
    margin-right: 0;
}

.search {
    width: 345px;
    height: 45px;
    background-color: #F2F2F2;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    outline: none;
    padding-left: 20px;
    background-image: url(../images/search.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right 23px center;
    padding-right: 50px;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}

.search::placeholder {
    font-size: 18px;
    line-height: 21px;
    color: #828282;
}
