.sparrow-explanation {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.sparrow {
    margin-right: 40px;
}

.sparrow-about-info {
    width: 610px;
}

.sparrow-about-info-name {
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 40px;
}

.sparrow-about-info-discription {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #4F4F4F;
    margin-bottom: 20px;
}

.sparrow-about-info-discription:last-child {
    margin-bottom: 0;
}

.sparrow-food-variety {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.sparrow-food {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 10px 30px 2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 80px 47px 0px;
    width: 650px;
}

.types-of-food {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 75px;
    position: relative;
}

.sparrow-food-about {
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 28px;
    padding-left: 30px;
}

.food-item {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    text-align: center;
    color: #828282;
    text-decoration: none;
}

.food-grains a:first-child::before {
    content: "";
    background-image: url(../images/arrow-left-green.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 32%;
    left: 30px;
}

.food-grains a:last-child::after {
    content: "";
    background-image: url(../images/arrow-right-green.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 31%;
    right: -40px;
}

.food-miks a:first-child::before {
    content: "";
    background-image: url(../images/arrow-left-green.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 27%;
    left: 30px;
}

.food-miks a:last-child::after {
    content: "";
    background-image: url(../images/arrow-right-green.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 27%;
    right: -40px;
}

.food-item img {
    margin-bottom: 10px;
}
.product-buy-with {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    margin-bottom: 25px;
    display: inline-block;
}